@{
    ViewBag.Title = "Quản lý ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string adminUser = "bạn";
    if (HttpContext.Current.User != null && HttpContext.Current.User.Identity.IsAuthenticated)
    {
        CustomPrincipal identity = HttpContext.Current.User as CustomPrincipal;
        if (identity != null)
        {
            adminUser = identity.UserName;
        }
    }
}

<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/assets/js/datatables/jquery.dataTables.min.css")" rel="stylesheet" />

<style>
    #btnImageAdd {
        margin: 10px 0px;
    }

    div#DataTables_Table_0_wrapper {
        width: 100% !important;
    }
</style>

<script src="@Url.Content("~/assets/js/jquery-1.12.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/assets/js/datatables/jquery.dataTables.min.js")"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button id="btnImageAdd" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Thêm mới ảnh dự án
            </button>
        </div>
        <div class="col-md-12">
            <table id="myTable" class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>STT</th><!--0-->
                        <th>Đường dẫn ảnh</th><!--1-->
                        <th>Sắp xếp tăng</th><!--2-->
                        <th>Ảnh</th><!--3-->
                        <th>Hoạt động</th><!--4-->
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var myTable = $("#myTable").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "destroy": true,
            "autoWidth": true,
            "responsive": true,
            "searching": true,
            "ajax": {
                "url": "@Url.Action("LoadProjectImages", "Project")",
                "type": "POST",
                "datatype": "json"
            },
            "drawCallback": function (settings) {
                $('th').css("color", "black");
                $('th').css("border-bottom", "none");
                $('th:last').css("width", "48px");
            },
            "initComplete": function (settings, json) {
                var $searchInput = $('div.dataTables_filter input');
                $searchInput.unbind();
                $searchInput.bind('keyup', function (e) {
                    if (this.value === '') {
                        myTable.search('').draw();
                    }
                    if (this.value.length >= 1) {
                        myTable.search(this.value).draw();
                    }
                });
            },
            "columns": [
                {
                    data: "RowNumber",
                    name: "RowNumber",
                    searchable: false,
                    sortable: false,
                    orderable: false,
                    "render": function (data, type, row) {
                        return '<div class="responsive" data-id="' + row["Id"] + '">' + data + '</div>'
                    }
                },
                { "data": "ImageUrl", "name": "ImageUrl", "autoWidth": true },
                { "data": "Desc", "name": "Desc", "autoWidth": true },
                {
                    data: "ImageUrl",
                    name: "Image",
                    searchable: false,
                    sortable: false,
                    orderable: false,
                    "render": function (data, type, row) {
                        return '<a href="#"><img alt="image" src=' + "@Url.Content("~/")" + data + ' width="50px"/><a>'
                    }
                },
                {
                    data: null,
                    searchable: false,
                    sortable: false,
                    orderable: false,
                    "mRender": function (data, type, row) {
                        return '<div class="responsive"><a href="#" class="details" data-id="' + row["Id"] + '"><i class="glyphicon glyphicon-eye-open"></i></a> <a href="#" class="edit" data-id="' + row["Id"] + '"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="delete" data-id="' + row["Id"] + '"><i class="glyphicon glyphicon-trash"></i></a></div>';
                    }
                }
            ],
            "columnDefs": [
                { width: '5%', targets: 0 },
                { width: '40%', targets: 1 },
                { width: '5%', targets: 4 }
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "language": {
                "url": "@Url.Content("~/assets/js/datatables/vi.json")"
            }
        });
    });

    $(document).on('click', '.edit', function (e) {
        e.preventDefault();
        let id = $(this).data('id');
        let href = '@Url.Action("EditProjectImage", "Project")'  + '/' + id;
        window.location.href = href;
    });

    $(document).on('click', '.delete', function (e) {
        e.preventDefault();
        let id = $(this).data('id');
        let href = '@Url.Action("DeleteProjectImage", "Project")' + '/' + id;
        let isAgree = confirm('Bạn có chắc chắn muốn xóa?');
        if (isAgree) {
            window.location.href = href;
        }
    });

    $(document).on('click', "#btnImageAdd", function (e) {
        alert('Thêm mới ảnh dự án');
    });
</script>